body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    background-image: url('../static/backgrounds/CTF_background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Sidebar Styles */
.sidebar {
    color: white;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    transition: width 0.3s;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1.5em 0.5em 1em 0.5em;
}

.sidebar-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 1em 0.5em;
}

.sidebar-logo {
    width: 3em; /* Fixed width for the logo */
    height: 3em; /* Fixed height for the logo */
    margin-right: 0.25em;
    transition: margin 0.3s;
}

.sidebar-title {
    transition: opacity 0.3s, margin 0.3s;
    white-space: nowrap; /* Prevent text from wrapping */
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin: 0.75em 0;
}

.sidebar-menu a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s;
}

.sidebar-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-icon {
    width: 1.75em; /* Fixed width for the icons */
    height: 1.75em; /* Fixed height for the icons */
    margin-right: 1em;
}

/* Icons-only mode */
body.icons-only .sidebar {
    width: 80px;
}

body.icons-only .main-content {
    width: calc(100% - 80px);
}

body.icons-only .content-header {
    width: calc(100% - 80px);
}

.sidebar-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icon-links {
    display: flex;
    align-items: center;
    flex-direction: row; /* Horizontal layout by default */
}

body.icons-only .footer-icon-links {
    flex-direction: column; /* Vertical layout in icons-only mode */
}

.footer-icon-link {
    text-decoration: none;
    margin: 0.75em;
}

.footer-icons {
    background: transparent;
    height: 1.75em;
    width: 1.75em; /* Fixed width for footer icons */
}

/* Main Content Styles */
.main-content {
    overflow-y: auto;
    border-left: 1px solid white;
    transition: width 0.3s;
    flex-grow: 1;
    padding: 2em;
}

.content-header {
    position: sticky;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1em;
    z-index: 1000;
    width: 100%;
    top: 0;
}

.main-content.expanded .content-header {
    width: 100%;
}

.user-menu {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    color: white;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1em;
}

.dropdown-menu {
    display: none;
    font-weight: bold;
    position: absolute;
    list-style-type: none;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 0.5em;
    z-index: 1000;
    right: 0;
}

.dropdown-menu li {
    cursor: pointer;
    padding: 0.5em;
}

.dropdown-menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.cards {
    display: flex;
    gap: 1em;
    margin-top: 2em; /* Add space between the cards and the header */
}

.card {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 1em;
    flex: 1;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.card-content .summary p,
.card-content .portfolio p,
.card-content .portfolio-details p {
    margin: 0.2em 0;
}